
---
---

@import "{{ site.theme }}";

body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../images/wave_ice_buoy.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.post-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}
