<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- MathJax v3 -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <!-- Site Visit Counter -->
    <script data-goatcounter="https://kohoutal.goatcounter.com/count"
       async src="//gc.zgo.at/count.js">
    </script>
</head>
<body>
    <div class="hover-area">
    <header class="hidden-header">
        <nav>
            <ul>
                <li><a href="https://alkohout.github.io">Alison Kohout</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1 class="dark-header">Welcome to Alison Kohout's Home Page</h1>
            <p>Explore my projects, research and interests.</p>
            <a href="#projects" class="btn">View Projects</a>
        </div>
    </section>
    </div>

    <main>
        <section id="projects" class="topics">
            <div class="topic-list">
                <div class="topic">
                    <h3><a href="/projects/waves-in-ice/">Waves-in-ice</a></h3>
                    <p>This project explored the impact of Southern Ocean waves on sea ice and examined the implications for ice extent in polar regions.</p>
                </div>
                <div class="topic">
                    <h3><a href="/projects/IVF/">IVF Genetic Mutation Study</a></h3>
                    <p> We investigated the genetic mutations in IVF patients to determine the feasibility of developing a simple at-home test that could predict the likelihood of successful IVF treatments.</p>
                </div>
                <div class="topic">
                    <h3><a href="/projects/board_game_logging/">Board game logging</a></h3>
                    <p>I created a local web interface linked to a SQL database to log and display statistics for played board games.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>
</html>
