<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="hero">
        <div class="hero-content">
            <h1>Welcome to Alison Kohout's Home Page</h1>
            <p>Explore my projects, research and interests.</p>
            <a href="#projects" class="btn">View Projects</a>
        </div>
    </header>
    <main>
        <section id="projects" class="projects">
            <h2>Featured Projects</h2>
            <div class="project-list">
                <div class="project">
                    <h3><a href="/projects/waves-in-ice/">Waves-in-ice</a></h3>
                    <p>This project investigated how Southern Ocean waves break up sea ice, and what this means for ice extent in polar regions. Our research revealed several significant discoveries about wave-ice interactions.</p>
                </div>
                <div class="project">
                    <h3><a href="/projects/IVF/">IVF Genetic Mutation Study</a></h3>
                    <p> We investigated the genetic mutations in IVF patients to determine the feasibility of developing a simple at-home test that could predict the likelihood of successful IVF treatments.</p>
                </div>
                <div class="project">
                    <h3><a href="/projects/board_game_logging/">Board game logging</a></h3>
                    <p> I developed a local webinterface connected to a SQL database to log and view statistics of played boardgames.</p>
                </div>
                <!-- Add more projects as needed -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>
</html>
